@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bgw">
    <h1 class="display-4">Bienvenido</h1>
    <p>Sitio creado para mostrar reportes sobre la aplicacion de post</p>
    <div class="row">
        <div class="col-6">
            <div class="text-center">
                <p>Grafico usuarios por años</p>
            </div>
            <canvas id="grap1"></canvas>
        </div>
        <div class="col-4 offset-1">
            <div class="text-center">
                <p>Grafico ventas por años</p>
            </div>
            <canvas id="grap2"></canvas>
        </div>
    </div>
</div>
